{% extends "base.html" %}
{% block cuerpo %}
    <style>
    h1{color: blue}
    td.cantidad{text-align: center;}

    </style>
    <center>
    <div class="caja">
        <div class="contenedor" id="producto">
        <h4>Productos en Carrito</h4>
        {% if carr.count > 0 %}
            <table>
                <tr>
                    <th>Producto</th>
                    <th>Imagen</th>
                    <th>Cantidad</th>
                    <th>Opciones</th>

                </tr>
                {% for i in carr %}
                    <tr>
                        <td>
                            {{ i.producto.nombre_pro }}
                        </td>
                        <td class="imagen">
                            <img src="/media/{{ i.producto.portada }}" width="120" height="70">
                        </td>
                        <td class="cantidad">
                            <h2>{{ i.cantidad }}</h2>
                        </td>
                        <td>
                            <a href="/carrito/eliminar/{{ i.id }}/">Eliminar de Carrito</a>
                        </td>
                    </tr><br>
                {% endfor %}
                <tr>
                    <th>
                       Total a pagar::{{ " " }}
                    <td>

                       <h1>{{ " " }}{{ pre_total }}</h1>

                    </td>

                </tr>
                <tr>

                </tr>
            </table>

            <img src="{{ STATIC_URL }}html/images/tarjeta.jpg" alt="" />

            <form method="post" action="">
                {% csrf_token %}
            <h2>elija tipo de tarjeta</h2><select id="sopcion" name="sopcion" onchange="crear()">
            <option value="0" id="0">seleccionar tipo de tarjeta</option>
            <option value="1" id="1">VISA</option>
            <option value="2" id="2">Matercard</option>
        </select>
            <h2> Introdusca Nro de tarjeta</h2>
            <input type="text"><br>
            </form>

            <a href="/producto/comprar/final/">COMPRAR AHORA</a>
        {% else %}
            No existen productos en el carrito
        {% endif %}
        </div>
    </div>
    </center>
{% endblock cuerpo %}
{% block cuerpo2 %}
{% endblock cuerpo2 %}