{% extends 'base.html' %}

{% block cuerpo %}
<h2>Listado de Productos</h2>
   <div class="jCarouselLite">
             <ul id="carousel2">
                <li><a href="{% url 'venta.apps.principal.views.lista_por_categorias' 4 %}">Calaminas</a></li>
                <li><a href="{% url 'venta.apps.principal.views.lista_por_categorias' 1%}">Cemento</a></li>
                <li><a href="{% url 'venta.apps.principal.views.lista_por_categorias' 2%}">Pinturas</a></li>
                <li><a href="{% url 'venta.apps.principal.views.lista_por_categorias' 3%}">Fierros</a></li>
            </ul>
        </div>


    <ul xmlns="http://www.w3.org/1999/html">
    <div class="container_12">
    <div class="wrapper">
    <div class="grid_12">
    <div class="wrapper p4">
    {% for producto in productos %}
        {% for sto in stock %}
            <article class="grid_4 alpha">
			<div class='ident-left'>
                {% if producto.id == sto.reg_pro_id %}
                    <div>
                        <div>
                            <h4>{{ producto.nombre_pro }}</h4>
                            <img src="/media/{{ producto.portada }}" width="150" height="100">
                            <p><strong>Disponible:</strong>{{ sto.cantidad }}</p>
                            <p><strong></strong>{{ producto.descripcion }}</p>
                            <p><strong>Precio: </strong>{{ producto.Precio }} Bs.</p>
                        </div>
                        <a href="{% url 'venta.apps.carrito.views.new_cantidad' venta.id producto.id %}">
                               <input type="submit" class="button" value="Comprar">
                        </a>
                    </div>
                {% endif %}
            </div>
            </article>
        {% endfor %}
    {% endfor %}
    </div>
    </div>
    </div>
    </div>
    </ul>

    <div class="span12">
        <div>
             <h4>Productos en el Carrito</h4>
             <div>
                  <p class="lead">
                    <h6></h6><strong>Precio A Pagar: </strong></h6>
                    {{ venta.costo_total }} <strong>Bs.</strong>
                  </p>
             </div>
             {% for detalle in detalleventa %}
                 {% for producto in productos %}
                     {% if detalle.producto_id == producto.id %}
                        <div>
                            <div >
                                 <h2>{{ producto.nombre_pro }} --costo:{{ producto.Precio }}bs</h2>
                                 <br>
                            </div>
                        </div>
                     {% endif %}
                 {% endfor %}
             {% endfor %}
             <p>
                 <a href="{% url 'venta.apps.carrito.views.confirmar' venta.id  %}" class='button'>Comprar Ahora</a>
             </p>
        </div>
    </div>
    </div>
    </div>
    </div>


{% endblock cuerpo %}
{% block cuerpo2%}
{% endblock cuerpo2 %}
