<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Metamorphosis Design Free Css Templates
		{% block titulo %}
			Index
		{% endblock titulo %}
</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{ STATIC_URL }}html/styles.css" rel="stylesheet" type="html/text/css" media="screen" />
</head>
<body>
<div id="content">
<!-- header -->
	<div id="header">
		<div id="logo">

			<h1><a href="#">La Casa del Constructor</a></h1>
			<h2><a href="#" id="metamorph">El hogar de los materiales de construccion</a></h2>

		</div>

		<div id="menu">

			<ul>
				<li id="button1"><a href="http://127.0.0.1:8000/" title="">Inicio</a></li>
				<li id="button2"><a href="http://127.0.0.1:8000/productos/" title="">Productos</a></li>
                <li id="button2"><a href="http://127.0.0.1:8000/contacto/" title="">Contactanos</a></li>
                {% if user.is_authenticated %}
                <li id="button6"><a href="{% url 'venta.apps.carrito.views.new_venta' 0 %}" title="">Comprar</a></li>
				<li id="button4"><a href="{% url 'venta.apps.usuarios.views.logout_view' %}" title="">Cerrar</a></li>
                {% else %}
                <li id="button4"><a href="{% url 'venta.apps.usuarios.views.login_view' %}" title="">Iniciar</a></li>
				<li id="button5"><a href="http://127.0.0.1:8000/usuario/new/" title="">Registrate</a></li>
                {% endif %}

			</ul>
		</div>
	</div>
<!-- / header-->
<!-- content -->

	<div id="main"><div class="inner_copy"></div>
		<div id="right">
            <h2>{% if user.is_authenticated %}
                    <p> Bienvenido usuario:{{ user.username |capfirst}}</p>
                {% endif %}
            </h2>
            {% block cuerpo %}
			<img src="{{ STATIC_URL }}html/images/9349.png" title="" alt="" style="float:left;padding-right:20px;padding-bottom:10px"/>
			<h4><p>MISION: </p></h4>
			<p>
            -Nuestra mision es ofrecer a los clientes produstos de calidad a un buen precio <br />
			</p>
            <h4><p>VISION: </p></h4>
			<p>
            -Nuestra vision es llegar a ser una distribuiodaras mas importantes del pais <br />
			</p>


			<div id="center">
				<h4>Nuestra direccion: </h4>
				<img src="{{ STATIC_URL }}html/images/ECO1_ad.jpg" title="" alt="" style="float:left; padding-right:20px; padding-bottom: 10px;"/>
				<p>Chayanta#47 ** Zona Mercado Uyuni ** Potosi-Bolivia</p>

                <p>Telefono:62-63040 **79502220  </p>
                <p>Email: lacasadelconstructor@hotmail.com</p>

                <div class="date">
					<ul>
						<li><a href="http://127.0.0.1:8000/usuario/new/" class="small_icon1">Registrate</a></li>
						<li><a href="http://127.0.0.1:8000/contacto/" class="small_icon2">Contactanos</a></li>
					</ul>
				</div>
			</div>
            {% endblock cuerpo %}
		</div>

		<div id="left">
			<h3><a href="http://127.0.0.1:8000/categorias/">Categorias</a></h3>
			<ul>
                {% if user.is_authenticated %}
				<li><a href="http://127.0.0.1:8000/categoria/nueva/">Agragar categoria</a></li>
                {% endif %}
				<li><a href="#">Calaminas</a></li>
				<li><a href="#">Cementos</a></li>
				<li><a href="#">Pinturas</a></li>

			</ul>

		</div>
	</div>

<!-- / content -->
<!--footer -->
	<div id="footer">
		<div class="fleft"><p>La casa del constructor</p></div>
		<div class="fright"><p>Haga sus pedidos&oacute; <a href="http://www.mejoresplantillasgratis.es" target="_blank">en este sitio web</a>.</p></div><div class="fclear"></div>
		<p> <a href="http://www.metamorphozis.com/" title="Free Web Templates">www.lacasadelconstructor.com</a></p>
	</div>
</div>

<!-- / footer -->
</body>
</html>


