{% extends 'base.html' %}

    {% block cuerpo %}
            {% if user.is_authenticated  and user.id == 1 %}
                <a class="button" href="/producto/nueva">Agregar producto</a>

            {% endif %}
            <ul xmlns="http://www.w3.org/1999/html">
            <div class="container_12">
            <div class="wrapper">
            <div class="grid_12">
            <div class="wrapper p4">


		    {% for fila in lista %}
			    <article class="grid_4 alpha">
			    <div class='ident-left'>
                    <p><h2> Nombre: {{ fila.nombre_pro }}</h2></p>

				    <p>
					    <img src="/media/{{ fila.portada }}" width="200" height="150">
				    </p>
                    <p> Precio:{{ fila.Precio }}</p>
                    <p> Descripcion:{{ fila.descripcion }}</p>
                    <p>
                        {% if user.is_authenticated and user.id == 1  %}
                        <a class="button" href="{% url 'venta.apps.principal.views.update_produc' fila.id %}">Modificar producto</a>

                        {% endif %}
				    </p>
			    </div>
                </article>

		    {% endfor %}
        </div>
        </div>
        </div>
        </div>
        </ul>


    {% endblock cuerpo %}
{% block cuerpo2 %}
{% endblock cuerpo2 %}